extends layout

block content

    h1 Eye-helper prototype


    ul#phones
        for phone,address in phones
            li(id=address)
                img
                input(type="text", name="address")
        else
            li#no_phones Nobody is connected at the moment.


    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/text-sender.js')
