body {
	margin:0;
	padding:0;
	background:#eee;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
	text-align:center;
	font-weight:100;
	background:#444;
	padding:1em;
	margin:0;
	color:#eee;
}

h1 {
	font-size:3em;
}

header a#apk {
	background:#eee;
	color:#444;
	padding:1em;
	border-radius:1em;
	text-decoration:none;
	margin:.5em;
	display:inline-block;
}

a {
  color: #00B7FF;
}

#phones {
	padding:0;
	margin:0 auto;
}

#phones li {
	list-style: none;
	padding: 0;
	margin:1em;
	float:left;
}

#phones li input {
	display:block;
	font-size:1em;
	font-family:inherit;
	width:320px;
	padding:1em;
	box-sizing:border-box;
	margin:0 auto;
}

#phones li img {
	display:block;
	margin:0 auto;
}


#phones li#no_phones {
	text-align:center;
	padding:5em 1em;
	font-size:1.5em;
	float:none;
}
